#todo-container {
    padding: 2%;
}

#check-item {
    border:1px solid black;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    padding: 2%;
    margin-bottom: 5%;
}

#update-item {
    margin-left: 2%;
}

#cancel-update {
    margin-left: 2%;
}


#check-item input {
    margin-left: 1%
}

#description-container {
    position: relative;
    padding: 0 8px;
}
  
#description-container span#item-description {
    display: inline-block;
    max-width: 100%;
}

.icon {
    float: right;
    padding-right: 10%;
}

.icon:hover {
    cursor: pointer;
 }